html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #999;
}

.app-container {
    height: 100%;
    width: 100%;

    display: block;
    font-size: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tenOnTenContainer {
    position: relative;
    display: inline-block;
    font-family: sans-serif;

    text-align: center;
    color: white;
}

.backgroundField {
    position: absolute;
    left: 3.5em;
    top: 3.5em;
    width: 10em;
    height: 10em;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
}

.backgroundCube {
    height: 0.95em;
    width: 0.95em;
    background: #a0a0a0;
    border-radius: 0.3em;
    margin: 0.025em;
}

.topRightPanel {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
}

.undoButton {
    cursor: pointer;
}

.refreshButton {
    cursor: pointer;
}


.topLeftPanel {
    height: 96px;
    width: 96px;
}

.cube {
    position: absolute;
    height: 0.95em;
    width: 0.95em;
    border-radius: 0.3em;
    margin: 0.025em;
    background-size: cover;
}

.cubeHidden {
    display: none;
}

.cube.firstInHoverLine,
.cube.dright {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: -1px;
}

.cube.firstInHoverLine.ftop,
.cube.dbottom {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 33.3%;
}

.cube.firstInHoverLine.fright,
.cube.dleft {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 66.6%;
}

.cube.firstInHoverLine.fbottom,
.cube.dtop {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.cube.blue {
    background-color: #4e7cff;
    border-color: #7a9cff;
}

.cube.green {
    background-color: #0e9f0e;
    border-color: #12b012;
}

.cube.yellow {
    background-color: #e7df00;
    border-color: #fff600;
}

.cube.red {
    background-color: #ff4949;
    border-color: #ff6f6f;
}

.cube.brown {
    background-color: #df690a;
    border-color: #ee710b;
}

.cube.pink {
    background-color: #ffc0cb;
    border-color: #fed6dd;
}

.cube.white {
    background-color: #ddd;
    border-color: #e0e0e0;
}

.cube.purple {
    background-color: #ff46ff;
    border-color: #fc69fc;
}

.cube.lightblue {
    background-color: #9bcada;
    border-color: #add8e6;
}

.cube.orange {
    background-color: #ffb121;
    border-color: #ffbb3f;
}

.level {
    font-size: 1.7em;
}

.undoButton,
.refreshButton {
    font-weight: bold;
    font-size: 0.5em;
}