html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #999;
}

.app-container {
    height: 100%;
    width: 100%;

    display: block;
    font-size: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tenOnTenContainer {
    position: relative;
    display: inline-block;
    font-family: sans-serif;

    text-align: center;
    color: white;
}

.backgroundField {
    position: absolute;
    left: 3.5em;
    top: 3.5em;
    width: 10em;
    height: 10em;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
}

.backgroundCube {
    height: 0.95em;
    width: 0.95em;
    background: #a0a0a0;
    border-radius: 0.3em;
    margin: 0.025em;
}

.actionButtons {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    right: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
}

.mainMenuPanel {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0.5em;
    bottom: 0.5em;
    height: 3em;
    width: 3em;
}

.mainMenu {
    position: absolute;
    z-index: 1;
    background-color: #00000033;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 1em);
    height: calc(100% + 1em);
    left: -0.5em;
    top: -0.5em;
    border-radius: 1em;
}

.menuButton {
    cursor: pointer;
}

.mainMenuItem {
    cursor: pointer;
    border: 1px solid white;
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.menuButton img {
    width: 2em;
    height: 2em;
    font-size: 0.5em;
}

.menuButtonText {
    font-size: 0.5em;
    font-weight: bold;
}

.undoButton {
    cursor: pointer;
}

.refreshButton {
    cursor: pointer;
}

.refreshButton img {
    width: 2em;
    height: 2em;
}


.cube {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 1em;
    width: 1em;
}

.visualCube {
    position: absolute;
    height: 0.95em;
    width: 0.95em;
    border-radius: 0.3em;
}

.cubeHidden {
    display: none;
}

.readyToMove,
.dright {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: -1px;
}

.readyToMove.ftop,
.dbottom {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 33.3%;
}

.readyToMove.fright,
.dleft {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 66.6%;
}

.readyToMove.fbottom,
.dtop {
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.cube.blue {
    background-color: #4e7cff;
    border-color: #7a9cff;
}

.cube.green {
    background-color: #0e9f0e;
    border-color: #12b012;
}

.cube.yellow {
    background-color: #e7df00;
    border-color: #fff600;
}

.cube.red {
    background-color: #ff4949;
    border-color: #ff6f6f;
}

.cube.brown {
    background-color: #df690a;
    border-color: #ee710b;
}

.cube.pink {
    background-color: #ffc0cb;
    border-color: #fed6dd;
}

.cube.white {
    background-color: #ddd;
    border-color: #e0e0e0;
}

.cube.purple {
    background-color: #ff46ff;
    border-color: #fc69fc;
}

.cube.lightblue {
    background-color: #9bcada;
    border-color: #add8e6;
}

.cube.orange {
    background-color: #ffb121;
    border-color: #ffbb3f;
}


.levelInfoPanel {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
}

.level {
    font-size: 1.7em;
}

.levelLabel {
    font-size: 0.5em;
}

.undoButton,
.refreshButton {
    font-weight: bold;
    font-size: 0.5em;
}