html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #999;
}

#app-container {
    height: 100%;
    width: 100%;

    display: block;
    font-size: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.debugPanel {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 150px;
    background-color: #00000022;
    opacity: 0.8;
}

.debugPanelCube {
    position: absolute;
    width: calc(100% / 30);
    height: calc(100% / 30);
}


.cubesContainer {
    position: absolute;

    /* overflow: hidden; */

    width: 16em;
    height: 16em;
    left: 0.5em;
    top: 0.5em;
}

.tenOnTenContainer {
    position: relative;
    display: inline-block;
    font-family: sans-serif;

    text-align: center;
    color: white;

    user-select: none;
}

.backgroundField {
    position: absolute;
    left: 3em;
    top: 3em;
    width: 10em;
    height: 10em;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
}

.backgroundCube {
    height: 0.95em;
    width: 0.95em;
    background: #a0a0a0;
    border-radius: 0.3em;
    margin: 0.025em;
}

.actionButtons {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    right: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
}

.mainMenuPanel {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0.5em;
    bottom: 0.5em;
    height: 3em;
    width: 3em;
}

.mainMenu {
    position: absolute;
    z-index: 1;
    background-color: #00000033;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 1em);
    height: calc(100% + 1em);
    left: -0.5em;
    top: -0.5em;
    border-radius: 1em;
}

.menuButton {
    cursor: pointer;
}

.mainMenuItem {
    cursor: pointer;
    border: 1px solid white;
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.menuButton img {
    width: 2em;
    height: 2em;
    font-size: 0.5em;
}

.menuButtonText {
    font-size: 0.5em;
    font-weight: bold;
}

.undoButton {
    cursor: pointer;
}

.refreshButton {
    cursor: pointer;
}

.refreshButton img {
    width: 2em;
    height: 2em;
}


.cube {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 1em;
    width: 1em;
}

.visualCube {
    position: absolute;

    height: 0.95em;
    width: 0.95em;
    border-radius: 0.3em;

    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowImage {
    width: 0.65em;
    height: 0.65em;
}

.cubeHidden {
    display: none;
}

.levelInfoPanel {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
}

.level {
    font-size: 1.7em;
}

.levelLabel {
    font-size: 0.5em;
}

.undoButton,
.refreshButton {
    font-weight: bold;
    font-size: 0.5em;
}